name: Build and Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  build-and-deploy:
    environment: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - name: Install deps
        run: npm i
      - name: Deploy page
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git remote set-url origin https://${github_token}@github.com/${repository}
          npm run deploy
        env:
          github_token: ${{ secrets.GH_PAT }}
          repository: ${{ github.repository }}
