.header {
  display: flex;
  justify-content: center; /* or use flex-start to left-align within page */
  align-items: center;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.header h1 {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.TitleLogo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-weight: 600;
}
