.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(58, 70, 94);
}

.header h1 {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: inherit;
}
