.repo {
  width: 100%;
  max-width: 600px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 7px;
  border: 2px solid hsl(0, 0%, 80%);
  outline: 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}
.uploadContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repo::placeholder {
  color: #b4b4b4; /* Darker gray - adjust as needed */
  opacity: 1; /* Ensure full opacity */
}
.repo-container input[type="file"] {
  /* color: transparent; */
  text-align: center;
}
.repo.repo--error {
  border: 2px solid red;
}
.repo.repo--value {
  border: 2px solid #2684ff;
}
